.list{
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 1.5em;
    padding: 1em;
}

.grid-line{
    border: 0.5px solid rgb(130, 130, 130);
    padding: 0.5em;
}

// @media (max-width : 925px ){
//     .list{
//         grid-template-columns: repeat(2,1fr);
//     }
// }

// @media (max-width : 460px ){
//     .list{
//         grid-template-columns: 1fr;
//     }
// }

// @media (min-width : 1350px ){
//     .list{
//         grid-template-columns: repeat(4,1fr);
//     }
// }

// @media (min-width : 1850px ){
//     .list{
//         grid-template-columns: repeat(5,1fr);
//     }
// }