.fav-card-container{
    text-align: center;
    border: 1px solid rgb(212, 212, 212);
    padding-bottom: 0.8em;
    
    .product-image{
        max-height: 300px;
        position: relative;

        .overlay-box{
            position: absolute;
            inset: 0;
            background-color: rgba($color: #000000, $alpha: 0.1);
        }

        .delete-icon{
            cursor: pointer;
            position: absolute;
            top: 6%;
            right: 6%;
            font-size: 1.2rem;
        }

        img{
            object-fit: cover;
            width: 100%;
            max-height: inherit;
        }
    }

    h3{
        margin-top: 0.7em;
        font-size: clamp(0.9rem, 3vw, 1.2rem);
        white-space: nowrap;
        max-width: 100%;
        text-align: center;
        padding: 0 0.2em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p{
        font-size: clamp(0.8rem, 2.5vw, 0.9rem);
        margin-top: 0.8em;
        font-weight: 600;
        padding-bottom: 0.8rem;
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    .fav-selection{
        margin-top: 0.4em;
        label{
            font-size: clamp(0.7rem, 2vw, 0.8rem);
            font-weight: 500;
            margin-right: 0.4em;
        }

        select{
            border-radius: 2px;
            font-size: clamp(0.7rem, 2vw, 0.8rem);
            padding: 0 0.2em;
            border: 1px solid rgba(228, 228, 228, 0.5);
            background-color: rgb(243, 243, 243);
        }
        
    }  
    
    .alertSize{
        padding: 0.2em;
        border: 1.5px solid rgb(188, 0, 0);
    }

    .add-to-cart{
        cursor: pointer;
        margin-top: 0.8em;
        width: 80%;
        border: none;
        background-color: #000000;
        color: white;
        padding: 0.7em 1.5em;
        font-weight: 500;
        border-radius: 4px;
    }

    .add-to-cart:hover{
        background-color: rgba($color: #000000, $alpha: 0.8);
    }

    .add-to-cart:active{
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}