.discount-coupon-wrapper{
    position: relative;
    background-color: rgb(241, 241, 241);
    padding: 1em 1.5em 3em;
    width: 85%;
    margin: 2em auto;
}


.discount-coupon{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.email-me{
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255,0.9);
    text-transform: uppercase;
    font-size: clamp(0.6rem, 3vw, 0.9rem);
    letter-spacing: 1px;
    padding: 0.8em 2.2em;
    border: none;
    border-radius: 6px;
    z-index: 1;
    margin-top: 1.2em;
    margin-right: 3em;
    cursor: pointer;
}

.offText{
    font-family: 'Playfair Display', serif;
    z-index: 0;
    position: absolute;
    color: rgb(225, 225, 225);
    font-size: 6rem;
    font-weight: 900;
    right: 0;
    bottom: -20px;
}

.offText span{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
}

.coupon-text p{
    margin-top: 0.5em;
    font-size: clamp(0.6rem, 3vw, 0.8rem);
    color: rgb(91, 91, 91);
}


.discount{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: rgb(50, 50, 50);
}


@media (max-width: 1000px){
    .discount-coupon-wrapper{
        padding-bottom: 1.7em;
    }
    .discount-coupon{
        flex-direction: column;
    }
    .email-me{
        margin-top: 2em;
    }
}

@media (max-width: 775px){
    .offText{
        font-size: 4rem;
        bottom: -15px;
    }

    .offText span{
        font-size: 3rem;
    }
}

@media (max-width: 570px){
    .discount-coupon-wrapper{
        width: 100%;
    }
}

@media (max-width:350px){
    .offText{
        font-size: 2.4rem;
        bottom: -8px;
    }

    .offText span{
        font-size: 1.8rem;
    }
}