.shop-container{
    flex: 1;
    display: flex;
    width: 90%;
    margin: 2em auto 3em;
    justify-content: space-between;


    button{
        background-color: rgb(46, 46, 46);
        color: white;
        border: none;
    }

    .filter-btn{
        display: none;
    }

    .filters-container{
        position: sticky;
        width: 30%;
        top: 90px;
        height: 100%;

        .search-container{
            display: flex;
            align-items: center;

            .search-box-wrapper{
                width: 90%;
                position: relative;
                .search-box{
                    width: 100%;
                    padding: 0.9em 2.7em 0.9em 1.5em; 
                    font-size: 0.7rem;
                    border: 0.5px solid rgb(223, 223, 223);
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    box-shadow: -4px 5px 10px rgba($color: #000000, $alpha: 0.15);
                }

                .search-box:focus{
                    outline: none;
                }

                .clear-search{
                    cursor: pointer;
                    position: absolute;
                    right: 4%;
                    font-size: 1rem;
                    top: 26%;
                    background-color: rgb(195, 195, 195);
                    border-radius: 50%;
                    padding: 0.15em;
                }
            }

            .search-btn{
                padding: 0.65em 0.8em 0.62em;
                margin-left: -2px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .search-btn:hover, .search-btn:focus{
                background-color: rgba(46, 46, 46,0.8);
            }

            .search-btn:active{
                background-color: rgba(46, 46, 46,0.6);
            }
        }

        .desktop-filters{
            margin-top: 1.2em;

            .desktop-filter-actions{
                display: flex;
                justify-content: space-between;
                margin-top: 1em;

                button{
                    padding: 0.4em 1.5em;
                    border-radius: 1.1rem;
                }

                button:first-child{
                    background-color: transparent;
                    color: black;
                    border: 1px solid rgb(46, 46, 46);
                }

                button:last-child:hover{
                    background-color: rgba(46, 46, 46,0.8);
                }
                button:last-child:active{
                    background-color: rgba(46, 46, 46,0.6);
                }
            }
        }
    }

    .products-container{
        width: 65%;

        .category-image{
            width: 100%;
            height: 13rem;
            background-color: rgb(225, 225, 225);
            img{
                height: inherit;
                width: 100%;
                object-fit: cover;
            }
        }

    }
}

@media (max-width: 850px){
    .shop-container{
        flex-direction: column;

        .filters-container{
            position: static;
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;

            .search-container{
                flex: 3; 

                .search-box-wrapper{
                    width: 100%;  
                }
            }

            .filter-btn{
                display: inline-block;
                padding: 0.65em 1.5em;
                border-radius: 4px;

                .filter-icon{
                    margin-left: 0.3em;
                }
            }
        }

        @media (max-width: 450px){
            .filters-container{
                gap: 10px;
                .filter-btn{
                    padding: 0.65em 0.8em;
                    span:first-child{
                        display: none;
                    }
                }
            }
        }

        .products-container{
            width: 100%;
            margin-top: 1.5rem;
        }
    }
}
