
.product-container{
    flex: 1;
    display: flex;
    width: 90%;
    margin: 2em auto 3em;
    justify-content: space-between;
    padding: 0 1em;

    .product-images{
            width: 49.5%;
            display: flex;
            justify-content: space-between;

            .all-product-images{
                width: 15%;
                display: flex;
                gap: 15px;
                flex-direction: column;

                .image-wrapper{
                    display: flex;
                    position: relative;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 0.3em;

                    .image-overlay{
                        position: absolute;
                        inset: 0;
                        background: rgba(0, 0, 0, 0.09);
                        border-radius: 6px;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        backdrop-filter: blur(0.90px);
                        -webkit-backdrop-filter: blur(0.90px);
                        border: 1px solid rgba(94, 94, 94, 0.31);                        
                    }

                    img{
                        width: 95%;
                    }
                }

            }

            #main-image{
                width: 80%;
                height: 40vw;
                object-fit: cover;
            }
    }

    .product-info{
        width: 45.5%;
        h2{
            font-size: clamp(1.3rem, 4vw, 2rem);
        }

        .price{
            margin-top: 0.7em;
            font-weight: bold;
            font-size: clamp(0.9rem, 3vw, 1.2rem);
        }

        .inc{
            color: #717171;
            margin-top: 0.2em;
            font-size: clamp(0.6rem, 1.5vw, 0.8rem);
        }

        .size{
                margin-top: 2em;
                margin-bottom: 2em;
                
                p{
                    font-weight: 600;
                    font-size: clamp(0.9rem, 3vw, 1.2rem);
                }

                .size-warning{
                    color: rgb(188, 0, 0);
                    margin-top: 1.5em;
                }

                .size-grid{
                    margin-top: 1em;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 15px;
                    row-gap: 20px;


                    .size-box{
                        border: 0.5px solid rgb(207, 207, 207);
                        text-align: center;
                        padding: 0.7em 0.3em;
                        border-radius: 8px;
                        background-color: white;
                        font-weight: 600;
                        cursor: pointer;
                        font-size: clamp(0.7rem, 2vw, 1rem);

                        input[type= radio]{
                            display: none;
                        }
                    }
                    
                    .size-box:hover{
                        border: 1.5px solid black;
                    }

                    .not-avail{
                        filter: blur(1px);
                        background-color: rgb(215, 215, 215);
                        pointer-events: none;
                        border: 0.8px solid rgb(114, 114, 114);
                    }

                    .active-size{
                        border: 1.5px solid black;
                        // background-color: ;
                    }
                    
                }
        }

        .product-actions{
                display: flex;
                flex-direction: column;
                gap: 15px;

                button{
                    padding: 1em  1.5em;
                    border-radius: 2rem;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: clamp(0.7rem, 2vw, 0.9rem);
                }
                
                .add-to-cart{
                    color: white;
                    background-color: black;
                }

                .add-to-cart:hover , .add-to-cart:active{
                    background-color: rgba($color: #000000, $alpha: 0.8);
                }

                .add-to-wishlist{
                    font-weight: 500;
                    background-color: transparent;
                    border: 1px solid black;
                }
                
                .cart-icon{
                    font-size: 1rem;
                    margin-left: 0.5em;
                }

                .add-to-wishlist:hover, .add-to-wishlist:focus{
                    background-color: rgba($color: #000000, $alpha: 0.05);
                }

                .btn-disabled{
                    pointer-events: none;
                }
        }

        h3{
            margin: 1.5em 0 1em;
            font-size: clamp(0.8rem, 3vw, 1rem);
        }

        .product-details{
            line-height: 1.5;
            font-weight: 500;
            color: rgb(68, 68, 68);
            font-size: clamp(0.6rem, 2vw, 0.9rem);
        }
    }
}



@media (max-width: 990px){
    .product-container{
        flex-direction: column;

        .product-images{
            width: 70%;
            align-self: center;
        }

        .product-info{
            width: 100%;
            margin-top: 2em;

            // h2{
            //     display: none;
            // }

            .price , .inc{
                display: inline-block;
                margin-top: 0;
            }

            .price{
                margin-right: 0.5em;
            }
        }
    }
}

@media (max-width:675px){
    .product-container{
        .product-images{
            flex-direction: column;
            width: 100%;
            gap: 1.5em;

            .all-product-images{
                width: 100%;
                flex-direction: row;

                .image-wrapper{
                    max-width:15vw;
                }
            }

            #main-image{
                align-self: center;
                order: -1;
                max-width: 100%;
                max-height: 50vw;
            }
        }
    }
}



